# Watershed Properties Data Extraction with SQL

Watershed's intern put together a couple of sources of information that will be useful for your project. These three types of information are contained in the capstone database:
1. the current monthly rent Watershed charges for all of their client’s 244 properties, as well as the property type and geographic location of those properties. 
2. some general information about examples of short-term rental properties.  This information can be used to get a sense of what kind of nightly rental price Watershed’s client’s properties *could* be listed for, if they were converted to short-term rentals.
3. records about when those short-term rental properties were rented out, so that you can calculate their occupancy rates.

Your job is to determine how the database is organized so that you can retrieve all of the available information about Watershed’s client’s 244 properties, as well as the corresponding short-term rental information for comparable properties in the same location and of the same type.
1. Start by determining what tables the database contains, and what fields are included in each table.  
2. Then, we recommend that you make at least a rough relational schema of how the database is organized, so that you know what fields you can use to join tables. 
3. Next, make a list of the columns of data you want to retrieve in your final output.  
4. Finally, write your query to retrieve the desired data from the database.

### Load and connect to the database

In [ ]:
%load_ext sql
%sql mysql://studentuser:studentpw@mysqlserver/capstone 
%sql USE capstone

### Queries

#### Explore the database in order to build a relational schema

In [ ]:
%sql SHOW tables

In [ ]:
%sql SHOW columns FROM location

In [ ]:
%sql SHOW columns FROM property_type

In [ ]:
%sql SHOW columns FROM st_property_info

In [ ]:
%sql SHOW columns FROM st_rental_dates

In [ ]:
%sql SHOW columns FROM st_rental_prices

In [ ]:
%sql SHOW columns FROM watershed_property_info

#### How many properties are in the location table?

In [ ]:
%%sql
SELECT location_id
FROM location
LIMIT 10

#### How many properties are in the Watershed table?

In [ ]:
%%sql
SELECT ws_property_id, location, property_type, current_monthly_rent
FROM watershed_property_info
LIMIT 10

#### How many properties are in the short-term rental table?

In [ ]:
%%sql
SELECT st_property_id, location, property_type
FROM st_property_info
LIMIT 10

#### What information is available for Watershed's 244 properties?

In [ ]:
%%sql
SELECT w.ws_property_id, w.current_monthly_rent, w.property_type, p.apt_house, p.num_bedrooms, p.kitchen, p.shared, w.location,
l.city, l.state, l.zipcode
FROM watershed_property_info w, property_type p, location l
WHERE w.property_type=p.property_type_id AND w.location=l.location_id
LIMIT 10;

#### These properties are located in how many distinct zip codes?

In [ ]:
%%sql
SELECT DISTINCT l.zipcode
FROM watershed_property_info w, location l
WHERE w.location=l.location_id
GROUP BY l.zipcode
LIMIT 10;

#### Calculate occupancy rates for the short-term property example data
##### Divide the number of days in 2015 that the property had been rented by the number of total days in 2015

In [ ]:
%%sql
SELECT st_property, COUNT(rental_date)/365 AS Occupancy
FROM st_rental_dates
WHERE EXTRACT(year FROM rental_date)=2015
GROUP BY st_property
LIMIT 10;

#### These occupancy rates correspond to which locations and property types?

In [ ]:
%%sql
SELECT sd.st_property, COUNT(sd.rental_date)/365 AS Occupancy, si.location, si.property_type
FROM st_property_info si JOIN st_rental_dates sd
  ON si.st_property_id=sd.st_property
WHERE EXTRACT(year FROM rental_date)=2015
GROUP BY st_property
LIMIT 10;

#### What are the sample nightly rent prices for these properties?

In [ ]:
%%sql
SELECT i.st_property_id, p.sample_nightly_rent_price, i.location, i.property_type
FROM st_property_info i JOIN st_rental_prices p
  ON i.location=p.location 
GROUP BY st_property_id
LIMIT 10;

#### What is the nightly rent price for short-term rental examples corresponding to Watershed's properties of the same location and property type?

In [ ]:
%%sql
SELECT w.ws_property_id, w.location, w.property_type, sp.percentile_10th_price, sp.percentile_90th_price, sp.sample_nightly_rent_price
FROM watershed_property_info w JOIN st_rental_prices sp
  ON w.location=sp.location AND w.property_type=sp.property_type
GROUP BY w.ws_property_id
LIMIT 10;

#### Join the Watershed Property IDs with corresponding sample occupancy rates

In [ ]:
%%sql
SELECT w.ws_property_id, w.location, w.property_type, Sample.Occupancy
FROM watershed_property_info w LEFT JOIN (SELECT si.location, si.property_type, sd.st_property, COUNT(sd.rental_date)/365
                                          AS Occupancy
                                          FROM st_property_info si JOIN st_rental_dates sd
                                            ON si.st_property_id=sd.st_property
                                          WHERE EXTRACT(year FROM rental_date)=2015
                                          GROUP BY st_property) AS Sample
  ON w.location=Sample.location AND w.property_type=Sample.property_type
GROUP BY w.ws_property_id
LIMIT 10;

#### Join the Watershed Property IDs with corresponding sample nightly rent prices

In [ ]:
%%sql
SELECT w.ws_property_id, w.location, w.property_type, l.city, l.state, l.zipcode, p.apt_house, p.num_bedrooms, p.kitchen,
p.shared, w.current_monthly_rent, sample_price.percentile_10th_price, sample_price.percentile_90th_price,
sample_price.sample_nightly_rent_price
FROM watershed_property_info w, location l, property_type p,
    (SELECT w.ws_property_id, w.location, w.property_type,
     sp.percentile_10th_price, sp.percentile_90th_price,
     sp.sample_nightly_rent_price
     FROM watershed_property_info w JOIN st_rental_prices sp
       ON w.location=sp.location AND w.property_type=sp.property_type
     GROUP BY w.ws_property_id) AS sample_price
WHERE w.property_type=p.property_type_id AND w.location=l.location_id AND w.ws_property_id=sample_price.ws_property_id
GROUP BY w.ws_property_id
LIMIT 10;

#### Join the above two queries

In [ ]:
%%sql
SELECT w.ws_property_id, w.location, w.property_type, l.city, l.state, l.zipcode, p.apt_house, p.num_bedrooms, p.kitchen,
p.shared, w.current_monthly_rent, sample_price.percentile_10th_price, sample_price.percentile_90th_price,
sample_price.sample_nightly_rent_price, sample_dates.Occupancy
FROM watershed_property_info w, location l, property_type p,
    (SELECT w.ws_property_id, w.location, w.property_type,
     sp.percentile_10th_price, sp.percentile_90th_price,
     sp.sample_nightly_rent_price
     FROM watershed_property_info w JOIN st_rental_prices sp
       ON w.location=sp.location AND w.property_type=sp.property_type
     GROUP BY w.ws_property_id) AS sample_price,
    (SELECT w.ws_property_id, w.location, w.property_type, Sample.Occupancy
     FROM watershed_property_info w LEFT JOIN (SELECT si.location, si.property_type, sd.st_property, COUNT(sd.rental_date)/365
                                               AS Occupancy
                                               FROM st_property_info si JOIN st_rental_dates sd
                                                 ON si.st_property_id=sd.st_property
                                               WHERE EXTRACT(year FROM rental_date)=2015
                                               GROUP BY st_property) AS Sample
       ON w.location=Sample.location AND w.property_type=Sample.property_type
     GROUP BY w.ws_property_id) AS sample_dates
WHERE w.property_type=p.property_type_id AND w.location=l.location_id AND w.ws_property_id=sample_price.ws_property_id AND
w.ws_property_id=sample_dates.ws_property_id
GROUP BY w.ws_property_id
LIMIT 10;

### Finally, export the final query above as a .csv file for further examination in Excel and Tableau

In [ ]:
Watershed_Properties_Data= %%sql \
SELECT w.ws_property_id, w.location, w.property_type, l.city, l.state, l.zipcode, p.apt_house, p.num_bedrooms, p.kitchen, \
p.shared, w.current_monthly_rent, sample_price.percentile_10th_price, sample_price.percentile_90th_price, \
sample_price.sample_nightly_rent_price, sample_dates.Occupancy \
FROM watershed_property_info w, location l, property_type p, \
    (SELECT w.ws_property_id, w.location, w.property_type, \
     sp.percentile_10th_price, sp.percentile_90th_price, \
     sp.sample_nightly_rent_price \
     FROM watershed_property_info w JOIN st_rental_prices sp \
       ON w.location=sp.location AND w.property_type=sp.property_type \
     GROUP BY w.ws_property_id) AS sample_price, \
    (SELECT w.ws_property_id, w.location, w.property_type, Sample.Occupancy \
     FROM watershed_property_info w LEFT JOIN (SELECT si.location, si.property_type, sd.st_property, COUNT(sd.rental_date)/365 \
                                               AS Occupancy \
                                               FROM st_property_info si JOIN st_rental_dates sd \
                                                 ON si.st_property_id=sd.st_property \
                                               WHERE EXTRACT(year FROM rental_date)=2015 \
                                               GROUP BY st_property) AS Sample \
       ON w.location=Sample.location AND w.property_type=Sample.property_type \
     GROUP BY w.ws_property_id) AS sample_dates \
WHERE w.property_type=p.property_type_id AND w.location=l.location_id AND w.ws_property_id=sample_price.ws_property_id AND \
w.ws_property_id=sample_dates.ws_property_id \
GROUP BY w.ws_property_id;

Watershed_Properties_Data.csv('Watershed Properties Data.csv')